
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <h1>dating app</h1>

    <form>
        <div class = 'login'>
            <input type="email" placeholder="Enter email" class='email' required>
            <br>
            <input type="password" placeholder="Enter password" class="pass" required>
        </div>
    </form>

    <form>
        <div class = "signup">
            <input type="text" placeholder="Enter first name" class = "fName"><br>
            <input type="text" placeholder="Enter lastname" class = "lName"><br>
            <input type="password" placeholder="Enter Password" class="signUpPassword"><br>
            <input type="email" placeholder="Enter Email" class= "signUpEmail"><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div>
    </form>

    <form action="/admin">
    <div class = "admin">
        <input type="submit" value="admin login">

        </div>
    </form>


</body>
</html>