<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h1>welcome to dating app</h1>

     

    <div>
        <p id="elements"></p>
    </div>

    <div>
        <p id="elements2"></p>
    </div>


    <button onclick="match()" id="like">like</button>
    <button onclick="match()" id="dislike">dislike</button>

<script src ="frontpage-javascript.js">

</script>
</body>
</html>