<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="POST">

        <div>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <input type="text" id="password" name="password">
        </div>
        <div>
            <input type="text" id="fname" name="fname">
        </div>
        <div>
            <input type ="text" id="lname" name="lname">
        </div>
        <div>
            <button type="submit">opret dig her</button>
        </div>


    </form>

<script  type="text/javascript"></script>
</body>
</html>